

<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：文章管理>文章列表
    </div>
    <div class="pannel">
        <span class="sel_label">请选择文章分类：</span>

        {{/*有点意思，*/}}
        <form method="post" action="/article/index" id="form">
        <select name="select" id="select" class="sel_opt">
            {{/*{{range .articleTypes}}*/}}
                {{/*{{if compare .Typename $.typeName}}*/}}
                      {{/*<option selected="true">{{.Typename}}</option>*/}}
                {{/*{{else}}*/}}
                        {{/*<option>{{.Typename}}</option>*/}}
                {{/*{{end}}*/}}
            {{/*{{end}}*/}}

            {{range .articleTypes}}
                    {{/*如果这个类型是我选中的类型，就设置这个类型位选中显示*/}}
                <option {{if compare .Typename $.typeName}} selected="true" {{end}}>{{.Typename}}</option>

            {{end}}
        </select>
        </form>

        <table class="common_table">
            <tr>
                <th width="43%">文章标题</th>
                <th width="10%">文章内容</th>
                <th width="16%">添加时间</th>
                <th width="7%">阅读量</th>
                <th width="7%">删除</th>
                <th width="7%">编辑</th>
                <th width="10%">文章类型</th>
            </tr>

        {{range .articles}}
            <tr>
                <td>{{.Title}}</td>
                <td><a href="/article/showContent?id={{.ID}}">查看详情</a></td>
                <td>{{.Time.Format "2006-01-02 15:04:05"}}</td>
                <td>{{.ReadConst}}</td>
                <td><a href="/article/delete?id={{.ID}}" class="dels">删除</a></td>
                <td><a href="/article/edit?id={{.ID}}">编辑</a></td>
                <td>{{.ArticleType.Typename}}</td>
            </tr>
        {{end}}

        </table>

        <ul class="pagenation">
            <li><a href="/article/ShowArticleList?pageNum=1&select={{.typeName}}">首页</a></li>
            <li><a href="/article/ShowArticleList?pageNum={{.pageNum | PerPage}}&select={{.typeName}}">上一页 </a></li>
            <li><a href="/article/ShowArticleList?pageNum={{NextPage .pageNum .pageCount}}&select={{.typeName}}">下一页</a></li>
            <li><a href="/article/ShowArticleList?pageNum={{.pageCount}}&select={{.typeName}}">末页</a></li>
            <li>共{{.count}}条记录/共{{.pageCount}}页/当前{{.pageNum}}页</li>
        </ul>
    </div>
</div>

